<h2>List of Marvel comics</h2>

<div class="spinner" *ngIf="!comicsData">
  <mat-spinner></mat-spinner>
</div>

<mat-paginator *ngIf="comicsSingleData"
                [length]="comicsData.length"
                [pageIndex]="pageIndex"
                [pageSize]="pageSize"
                [pageSizeOptions]="[4, 8, 20]"
                (page)="paginatorChange($event)"
                [showFirstLastButtons]="true" >
</mat-paginator>

<div *ngIf="comicsSingleData">
  <div class="charContainer" fxLayout="row wrap" fxLayoutGap="20px">
    <mat-card class="charCard" fxFlex="calc(25% - 20px)" fxGrow="0" *ngFor="let comic of comicsSingleData">
      <mat-card-header>
        <mat-card-title class="charTitle">
          <button [matTooltip]="comic.title.length > 20 ? comic.title : ''" (click)="comicDetail(comic.id)" mat-raised-button class="charLink" href="">{{ comic.title.substring(0, 20) }}{{ comic.title.length > 20 ? '...' : '' }}</button>
        </mat-card-title>
      </mat-card-header>
      <img mat-card-image src="{{ comic.thumbnail.path }}.{{ comic.thumbnail.extension }}" alt="marvel characters {{ comic.id }}" class="charImage">
      <mat-card-content>
        <p class="charContent">
          <!-- {{ char.description }} -->
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
