<div class="bgImage">
  <mat-toolbar color="primary">

    <a mat-button routerLink="/">
      <mat-icon>home</mat-icon>
    </a>

    <!-- This fills the remaining space of the current row -->
    <span class="fill-remaining-space"></span>
    <div fxLayout="row" fxShow="false" fxShow.gt-sm>
      <a mat-button routerLink="/">Characters</a>
      <a mat-button routerLink="/comics">Comics</a>
      <a mat-button routerLink="/creators">Creators</a>
      <a mat-button routerLink="/search">Search</a>
    </div>
    <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
      <mat-icon>menu</mat-icon>
    </button>
  </mat-toolbar>

  <mat-menu x-position="before" #menu="matMenu">
    <a mat-menu-item routerLink="/">Characters</a>
    <a mat-menu-item routerLink="/comics">Comics</a>
    <a mat-button routerLink="/creators">Creators</a>
    <a mat-menu-item routerLink="/search">Search</a>
  </mat-menu>


  <router-outlet></router-outlet>
</div>