.searchTitle {
    text-align: center;
    color: #3f51b5;
}

.searchForm {
    text-align: center;
    padding-top: 40px;
}

.charImage {
    max-height: 200px;
    min-width: 200px;
    width: auto;
    height: auto;
    display: block;
    margin: 0 auto;
    max-width: 100%;
}



.charContent {
    padding-top: 20px;
}

.charTitle {
    text-align: center;
    flex: 0 0 100%;
}

.charContainer {
    padding: 20px;
    padding-right: 0;
}

.charCard {
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.7);
}

h2 {
    text-align: center;
    color: #3f51b5;
    margin: 40px;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.charLink {
    text-decoration: none;
}